installfiles/control_maps/wheel/.DS_Store
installfiles/control_maps/arcade/.DS_Store
installfiles/control_maps/.DS_Store
userscripts/.DS_Store
installfiles/.DS_Store
installfiles/bin/.DS_Store
userscripts/system-ready/.DS_Store
.DS_Store
.DS_Store
